<div class="upload-dialog">
   <div class="ud-info" ng-if="!state.file">
      <div style="font-weight: bold">
         <i class="fa fa-hand-o-left point-at-box fa-2x" aria-hidden="true" style="padding-right:12px;"></i>
         Select and drop file(s) for reprojection
      </div>
      <br/>
      <div>
         <span style="font-weight: bold">CSV -</span>
         Drop a single CSV file with a ".csv" extension and we will scan for columns and ask follow up questions.
      </div>
      </br/>
      <div>
         <span style="font-weight: bold">Shapefile -</span>
         Drop at least three files with the same file prefix to transform a shapefile:
         <ul>
            <li>".shp" — shape format; the feature geometry itself.</li>
            <li>".shx" — shape index format; a positional index of the feature geometry to allow seeking forwards and backwards quickly.</li>
            <li>".dbf" — attribute format; columnar attributes for each shape, in dBase IV format.</li>
            <li><i>".prj" — OPTIONAL — projection; describes the coordinate system and projection information used.</i></li>
         </ul>
      </div>
      <div>
         <span style="font-weight: bold">JPEG2000 -</span>
         Drop a single JPEG2000 file with a ".j2", ".j2k", ".jpx", ".jpf", ".jpm", ".jpp", ".jp2000" or ".jp2k" extension and we will process this as a JPEG2000 file.
      </div>
      </br/>
      <div>
         <span style="font-weight: bold">GeoJSON -</span>
         Drop a single GeoJSON file with a ".json" extension and we will process this as a GeoJSON file.
      </div>
      </br/>
      <div>
         <span style="font-weight: bold">GeoTIFF -</span>
         Drop a single GeoTIFF file with a ".tif" extension and we will process this as a GeoTIFF file.
      </div>
      </br/>
      <div>
         <span style="font-weight: bold">ASCII Grid -</span>
         Drop a single ASCII Grid file with an ".asc" extension and we will process this as a ASCII Grid file.
      </div>
      </br/>
      <div>
         <span style="font-weight: bold">ECW -</span>
         Drop a single ECW file with an ".ecw" extension and we will process this as a ECW file.
      </div>
   </div>

   <div ng-if="state.file && state.extension == 'csv'">
      <h3>Selected {{state.file.name}} ({{state.file.size | bytes}})</h3>
   </div>
   <div style="text-align:right" ng-if="state.file.size > settings.maxFileSize">
      The size of the file to be uploaded must not exceed {{settings.maxFileSize | bytes}}. Please select a smaller file.
      <button type="button" class="btn btn-primary" ng-click="cancel()">OK</button>
   </div>
   <hr />
   <div ng-show="state.file">
      <div ng-if="state.extension == 'csv' && state.file.size < settings.maxFileSize">
         <csv-file state="state" settings="settings" />
      </div>
      <div ng-if="state.extension == 'shp'">
         <shp-file state="state" settings="settings" />
      </div>
      <div ng-if="state.type == 'single'">
         <h4>A few questions about your file named "{{state.file.name}}"</h4>
      </div>
      <transformation-target state="state"></transformation-target>
      <accept-epsg4283 state="state"></accept-epsg4283>
   </div>
   <div ng-show="state.file">
      <div>
         <h4>Nominate your notification email address<mandatory /></h4>
         <email state="state" ng-if="state" />
      </div>

      <div style="padding-top: 10px">
         <progress-bar-single state="state" ng-show="state.type == 'single'"/>
         <progress-bar-csv state="state" ng-show="state.extension == 'csv'"/>
         <progress-bar-shapefile state="state" ng-show="state.extension == 'shp'" />
      </div>
   </div>
</div>